
body {
	margin:0;
	padding: 0;
	/*background-color: white;*/
	background-image: url("../img/Blonde_Blazer_Faded_Small.png");
	padding-top:50px;
}

body>.container{
	/*background-color: #FFFFCC;*/
	padding:0;
	/*height: 800px;*/
}

.navbar{
	background-color: #00003D;
	color: white;
	border:0;
}

.navbar-default .navbar-nav>li>a{
	color:white;
	font-weight: normal;
	font-family: Helvetica;
}

.imgbackground{
	background-image: url("cityheader.jpg");
    background-color: #cccccc;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #D8BE1E;
}

.dropdown-toggle:focus{
	color: #000080;
	background-color: #D8BE1E;
}

.carouselimage{
	margin:0 auto;
}

.bodydiv{
	margin: 15px;
}

.navbarwidth{
	max-width:1170px;
	margin:0 auto;
}

.gridlogoregular{
	height: 90%;
	max-height:	90%;
	width: 90%;
	margin: 5%;
}

.pagetitle{
	font-size: 48px;
	color: #00003D;
}

div.carousel-inner{
	max-height: 300px;
	vertical-align: middle;
}

.img-responsive.carouselimage{
	margin: auto;
	vertical-align: middle;
	position: 0 0;

}

#banner1 {
	background-image: url("../img/Banners/HeroesBanner.png");
}

#banner2 {
	background-image: url("../img/Banners/ParisWeekBanner.png");
}

#banner3 {
	background-image: url("../img/Banners/RiotGamesBanner.png");
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #E6E6E6;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* This is not required. -NH
body > .container {
  padding: 60px 15px 0;
}*/
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Landing Page Styles
-------------------------------------------------- */

