body {
	margin:0;
	padding: 0;
	background-color: gray;
}

.bodydiv{
	width: 1000px;
	margin: 0 auto;	
}

.navbar{
	background-color: #00003D;
	color: white;
	font-size: 30px;
	font-family: Ariel;
	height: 40px;
}

.navbarcontent{
	width: 1000px;
	margin: 0 auto;
	top: 5px;
	padding: 0;
}
/*
.vertcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
*/

.nomarginnopadding{
	padding: 0;
	margin: 0;
}
