
body {
	margin:0;
	padding: 0;
	background-color: #D8BE1E;
	padding-top:70px;
}

.container{
	background-color: white;
	height: 800px;
}

.navbar{
	background-color: #000080;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	border:0;
/*	font-size: 30px;
	font-family: Ariel;
	height: 40px;*/
}

.navbar-fixed-top{
    margin-right: 30px;
    margin-left: 30px;
  }

/*
.vertcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
*/

.nomarginnopadding{
	padding: 0;
	margin: 0;
}

.navbar-default .navbar-nav>li>a{
	color:white;
	font-weight: bold;
	font-family: Ariel;
}

.imgbackground{
	background-image: url("cityheader.jpg");
    background-color: #cccccc;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #D8BE1E;
}

.dropdown-toggle:focus{
	color: #000080;
	background-color: #D8BE1E;
}

.carouselimage{
	margin:0 auto;
}